@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<title>Text Example</title>
<style>
div.container {
background-color: #ffffff;
}
div.container p {
text-align: center;
font-family: Times;
font-size: 48px;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
color: #636363;
background-color: #ffffff;
}
</style>

<div class="container">
<p>Welcome to Study Zen</p>
<p>The study planner web application.</p>
</div>
